nav.navbar {
    background-color:#ffa801;
    font-family: 'Fredoka One', cursive;
}
div.row div.col-md-4 select {
    width: 100%;
    text-align-last: center;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    background-color:#48dbfb;
    color: white;
}
div.row div.col-md-4 span.mt-2 {
    display: block;
    text-align: center;
    margin-left: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    ;
    border: 1px solid rgb(247, 231, 231);
    
}

div.row div.col-md-4 div.keranjang {
    display: block;
    text-align: center;
    height: 300px;
    border: 1px;
    overflow-y: scroll;
    display: block;
    overflow-x: none;
    background-color: #ffd32a;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.keranjang {
    overflow-x: hidden;
}

div.keranjang div.row div.card {
    width: 90%;
    margin: 4px auto;

}

div.cart-text {
    font-size: 10px;
    color:red;
    font-weight: bold;
}

div.cart-count {
    font-size: 8px;
    font-weight: bold;
}

div.harga {
    margin: 0;
    padding-left: 50px;
}

div.row div.col-3 img {
    width: 100%;
    height: 70px;
}

input.jumlah {
    width: 50%;
}

div.input-group {
    height: 25px;
    text-align: center;
}

div.input-group button {
    height: 25px;
    width: 20%;
    text-align: center;
}

div.input-group .form-control {
    height: 25px;
    width: 100px ;
    text-align: center;
}

div.input-group button i {
    margin-left: -5px;
}


/* keranjang */
div.stock{
    background-color:#ffc048;
    color: white;
}
div.search{
    height: 100%;
    background-color: transparent;
}
div.header{
    padding: 0;
    margin: 0;
}
div.brang{
    background-color:#ffd32a;
    width: 100%;
    height: 600px;
    border: 2px black;
    overflow-y: scroll;
}
div.brang div.card{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
div.brang div.card img{
        margin: 8px 11px 4px 11px;
        width: auto;
        height: 150px ;
        object-fit: cover;
        
}
.curl{
    background-color:#ffd32a;
}